<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<properties>
		<slf4j.version>1.7.25</slf4j.version>
		<nutzboot.version th:text="${params.version}"></nutzboot.version>
	</properties>
	<artifactId>nutzboot-demo-maker</artifactId>
	<dependencies>
		<dependency>
			<groupId>org.nutz</groupId>
			<artifactId>nutzboot-starter</artifactId>
			<version>${nutzboot.version}</version>
		</dependency>
		<dependency th:if="${params.jetty.enable}">
			<groupId>org.nutz</groupId>
			<artifactId>nutzboot-starter-jetty</artifactId>
			<version>${nutzboot.version}</version>
		</dependency>
		<dependency th:if="${params.nutzmvc.enable}">
			<groupId>org.nutz</groupId>
			<artifactId>nutzboot-starter-nutz-mvc</artifactId>
			<version>${nutzboot.version}</version>
		</dependency>
		<dependency th:if="${params.nutzdao.enable}">
			<groupId>org.nutz</groupId>
			<artifactId>nutzboot-starter-nutz-dao</artifactId>
			<version>${nutzboot.version}</version>
		</dependency>
		<dependency th:if="${params.jdbc.enable}">
			<groupId>org.nutz</groupId>
			<artifactId>nutzboot-starter-jdbc</artifactId>
			<version>${nutzboot.version}</version>
		</dependency>
		<dependency>
			<groupId>org.slf4j</groupId>
			<artifactId>slf4j-log4j12</artifactId>
			<version>${slf4j.version}</version>
		</dependency>
	</dependencies>
</project>